.tower {
  display: block;
  position: relative;
  background-color: lightblue;
  width: 100px;
  padding: 5px;
}

.hanoi{
  display: flex;
  width: 200px;
}

.small {
  display: flex;
  width: 20px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;

}
.medium {
  display: flex;
  width: 40px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;

}
.big {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;

}
.hidden {
  display: flex;
  width: 60px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;

}

ul {
  float: left;
  width: 180px;
  padding: 0 0 5px 0;
  border-bottom: 10px solid black;
}
li {
  justify-content: center;
  margin: 5px auto;
  height: 50px;
}